<ion-view view-title="Post a Job">
  <ion-content class="">
    <div class="list">
        <label class="item item-input item-stacked-label">
        <span class="input-label">Price</span>
        <input type="tel" placeholder="$$">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Notes</span>
        <input type="textarea" placeholder="Details of the job a shoveler should know...">
      </label>
      <label class="item item-input item-select item-stacked-label">
          <div class="input-label">
            Yard Size
          </div>
          <select class="" name="">
            <option value="">Small</option>
            <option value="">Medium</option>
            <option value="">Large</option>
            <option value="">Extra Large</option>
          </select>
        </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block" ui-sref="login">Post Job</button>
    </div>
  </ion-content>
</ion-view>
